<section class="single-cta">
    <h2 class="single-cta-title">Enjoying the post?</h2>
    <span class="cta-subtitle">Subscribe to our free Monthly Newsletter, featuring our latest posts.</span>
    <span class="cta-subtitle">Straight to your inbox.</span>
    <span class="no-spam">No spam ever (we hate it as much as you do).</span>
    <button class="button single-cta-button gh-portal-close" data-portal="signup/free">Subscribe now</button>
    <br>
    <button class="button-text single-cta-footer gh-portal-close" data-portal="signin">Already have an account?
      Sign in</button>
  </section>