<section class="featured-wrapper container">
    <h2 class="featured-title">Featured articles</h2>
    <div class="featured-feed owl owl-loaded owl-drag">
        <div class="owl-stage-outer">
            <div class="owl-stage"
                style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4641px;">
                <div class="owl-item active" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit lazyautosizes lazyloaded"
                                data-srcset="https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                srcset="https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1495020689067-958852a7765e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDF8fG5ld3N8ZW58MHx8fHwxNjI1MzM0ODk2&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                alt="Self hosting Stringer, the anti-social RSS reader" sizes="337px">
                        </div>
                        <h3 class="post-title">Self hosting Stringer, the anti-social RSS reader</h3>
                        <a class="u-permalink" href="/posts/self-hosting-stringer-the-anti-social-rss-reader/"
                            aria-label="Self hosting Stringer, the anti-social RSS reader"></a>
                    </article>
                </div>
                <div class="owl-item active" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit lazyautosizes lazyloaded"
                                data-srcset="https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                srcset="https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1510511459019-5dda7724fd87?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDR8fG1hdHJpeHxlbnwwfHx8fDE2MjUyMzUwNDM&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                alt="Self hosting your own Matrix server on a Raspberry Pi" sizes="337px">
                        </div>
                        <h3 class="post-title">Self hosting your own Matrix server on a Raspberry Pi</h3>
                        <a class="u-permalink" href="/posts/self-hosting-your-own-matrix-server-on-a-raspberry-pi/"
                            aria-label="Self hosting your own Matrix server on a Raspberry Pi"></a>
                    </article>
                </div>
                <div class="owl-item active" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit lazyautosizes lazyloaded"
                                data-srcset="https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                srcset="https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1484788032193-83c907055f21?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MnwxMTc3M3wwfDF8c2VhcmNofDE1fHxwYXBlciUyMGN1cHxlbnwwfHx8fDE2MTYzNjI1NTI&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                alt="Self-hosting Papercups.io - Open-source live customer chat with Slack integration!"
                                sizes="337px">
                        </div>
                        <h3 class="post-title">Self-hosting Papercups.io - Open-source live customer chat with Slack
                            integration!</h3>
                        <a class="u-permalink" href="/posts/self-hosting-papercups-io-open-source-live-customer-chat/"
                            aria-label="Self-hosting Papercups.io - Open-source live customer chat with Slack integration!"></a>
                    </article>
                </div>
                <div class="owl-item active" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit lazyautosizes lazyloaded" data-srcset="/content/images/size/w400/2021/03/Screenshot-2021-03-20-181743.png 400w,
/content/images/size/w750/2021/03/Screenshot-2021-03-20-181743.png 750w,
/content/images/size/w960/2021/03/Screenshot-2021-03-20-181743.png 960w,
/content/images/size/w1140/2021/03/Screenshot-2021-03-20-181743.png 1140w" data-sizes="auto"
                                src="/content/images/size/w750/2021/03/Screenshot-2021-03-20-181743.png" srcset="/content/images/size/w400/2021/03/Screenshot-2021-03-20-181743.png 400w,
/content/images/size/w750/2021/03/Screenshot-2021-03-20-181743.png 750w,
/content/images/size/w960/2021/03/Screenshot-2021-03-20-181743.png 960w,
/content/images/size/w1140/2021/03/Screenshot-2021-03-20-181743.png 1140w"
                                alt="Setting up Focalboard - A self-hosted alternative to Trello and Notion"
                                sizes="337px">
                        </div>
                        <h3 class="post-title">Setting up Focalboard - A self-hosted alternative to Trello and Notion
                        </h3>
                        <a class="u-permalink"
                            href="/posts/setting-up-focalboard-a-self-hosted-alternative-to-trello-and-notion/"
                            aria-label="Setting up Focalboard - A self-hosted alternative to Trello and Notion"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit lazyautosizes lazyloaded" data-srcset="/content/images/size/w400/2021/03/DI.png 400w,
/content/images/size/w750/2021/03/DI.png 750w,
/content/images/size/w960/2021/03/DI.png 960w,
/content/images/size/w1140/2021/03/DI.png 1140w" data-sizes="auto" src="/content/images/size/w750/2021/03/DI.png"
                                srcset="/content/images/size/w400/2021/03/DI.png 400w,
/content/images/size/w750/2021/03/DI.png 750w,
/content/images/size/w960/2021/03/DI.png 960w,
/content/images/size/w1140/2021/03/DI.png 1140w"
                                alt="Host your static blog for free with the Digital Ocean App Platform" sizes="337px">
                        </div>
                        <h3 class="post-title">Host your static blog for free with the Digital Ocean App Platform</h3>
                        <a class="u-permalink" href="/posts/host-your-blog-for-free-with-digital-ocean-apps/"
                            aria-label="Host your static blog for free with the Digital Ocean App Platform"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="u-object-fit lazyautosizes lazyloaded" data-srcset="/content/images/size/w400/2021/03/Screenshot-2021-03-08-125439.png 400w,
/content/images/size/w750/2021/03/Screenshot-2021-03-08-125439.png 750w,
/content/images/size/w960/2021/03/Screenshot-2021-03-08-125439.png 960w,
/content/images/size/w1140/2021/03/Screenshot-2021-03-08-125439.png 1140w" data-sizes="auto"
                                src="/content/images/size/w750/2021/03/Screenshot-2021-03-08-125439.png" srcset="/content/images/size/w400/2021/03/Screenshot-2021-03-08-125439.png 400w,
/content/images/size/w750/2021/03/Screenshot-2021-03-08-125439.png 750w,
/content/images/size/w960/2021/03/Screenshot-2021-03-08-125439.png 960w,
/content/images/size/w1140/2021/03/Screenshot-2021-03-08-125439.png 1140w"
                                alt="Completely Self-Hosting Plausible.io. A privacy-friendly alternative to Google Analytics"
                                sizes="337px">
                        </div>
                        <h3 class="post-title">Completely Self-Hosting Plausible.io. A privacy-friendly alternative to
                            Google Analytics</h3>
                        <a class="u-permalink"
                            href="/posts/completely-self-hosting-plausible-io-a-privacy-friendly-alternative-to-google-analytics/"
                            aria-label="Completely Self-Hosting Plausible.io. A privacy-friendly alternative to Google Analytics"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit" data-srcset="/content/images/size/w400/2021/03/pi-cluster.jpg 400w,
/content/images/size/w750/2021/03/pi-cluster.jpg 750w,
/content/images/size/w960/2021/03/pi-cluster.jpg 960w,
/content/images/size/w1140/2021/03/pi-cluster.jpg 1140w" data-sizes="auto"
                                src="/content/images/size/w750/2021/03/pi-cluster.jpg"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="Setting up a Kubernetes cluster (K3s) using Raspberry Pi's and Portainer">
                        </div>
                        <h3 class="post-title">Setting up a Kubernetes cluster (K3s) using Raspberry Pi's and Portainer
                        </h3>
                        <a class="u-permalink"
                            href="/posts/setting-up-a-kubernetes-cluster-using-raspberry-pis-k3s-and-portainer/"
                            aria-label="Setting up a Kubernetes cluster (K3s) using Raspberry Pi's and Portainer"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit"
                                data-srcset="https://images.unsplash.com/photo-1504383633899-a17806f7e9ad?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDJ8fGNvbnRhaW5lcnxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1504383633899-a17806f7e9ad?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDJ8fGNvbnRhaW5lcnxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1504383633899-a17806f7e9ad?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDJ8fGNvbnRhaW5lcnxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1504383633899-a17806f7e9ad?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDJ8fGNvbnRhaW5lcnxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1504383633899-a17806f7e9ad?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDJ8fGNvbnRhaW5lcnxlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="Setting up Portainer. Docker Container management made easy">
                        </div>
                        <h3 class="post-title">Setting up Portainer. Docker Container management made easy</h3>
                        <a class="u-permalink" href="/posts/setting-up-portainer-container-management-made-easy/"
                            aria-label="Setting up Portainer. Docker Container management made easy"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit"
                                data-srcset="https://images.unsplash.com/photo-1567108077905-f8a10e69a5a6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDF8fHZpa2luZ3xlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1567108077905-f8a10e69a5a6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDF8fHZpa2luZ3xlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1567108077905-f8a10e69a5a6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDF8fHZpa2luZ3xlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1567108077905-f8a10e69a5a6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDF8fHZpa2luZ3xlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1567108077905-f8a10e69a5a6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDF8fHZpa2luZ3xlbnwwfHx8&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="Setting up a Valheim server using Docker">
                        </div>
                        <h3 class="post-title">Setting up a Valheim server using Docker</h3>
                        <a class="u-permalink" href="/posts/setting-up-a-valheim-server-using-docker/"
                            aria-label="Setting up a Valheim server using Docker"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit"
                                data-srcset="https://images.unsplash.com/photo-1495592822108-9e6261896da8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDl8fGRhdGF8ZW58MHx8fA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 400w,
https://images.unsplash.com/photo-1495592822108-9e6261896da8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDl8fGRhdGF8ZW58MHx8fA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 750w,
https://images.unsplash.com/photo-1495592822108-9e6261896da8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDl8fGRhdGF8ZW58MHx8fA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 960w,
https://images.unsplash.com/photo-1495592822108-9e6261896da8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDl8fGRhdGF8ZW58MHx8fA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1495592822108-9e6261896da8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=MXwxMTc3M3wwfDF8c2VhcmNofDl8fGRhdGF8ZW58MHx8fA&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=2000"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="Why should you should spend the time, effort (and money) on self-hosting?">
                        </div>
                        <h3 class="post-title">Why should you should spend the time, effort (and money) on self-hosting?
                        </h3>
                        <a class="u-permalink" href="/posts/take-back-control-of-your-data/"
                            aria-label="Why should you should spend the time, effort (and money) on self-hosting?"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit"
                                data-srcset="https://images.unsplash.com/photo-1582139329536-e7284fece509?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 400w,
https://images.unsplash.com/photo-1582139329536-e7284fece509?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 750w,
https://images.unsplash.com/photo-1582139329536-e7284fece509?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 960w,
https://images.unsplash.com/photo-1582139329536-e7284fece509?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1582139329536-e7284fece509?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="Completely Self-Hosting Bitwarden Password Manager (Updated 2021)">
                        </div>
                        <h3 class="post-title">Completely Self-Hosting Bitwarden Password Manager (Updated 2021)</h3>
                        <a class="u-permalink" href="/posts/how-to-self-host-bitwarden-on-ubuntu-server/"
                            aria-label="Completely Self-Hosting Bitwarden Password Manager (Updated 2021)"></a>
                    </article>
                </div>
                <div class="owl-item" style="width: 356.673px; margin-right: 30px;">
                    <article class="post featured">
                        <div class="u-placeholder horizontal">
                            <img class="lazyload u-object-fit"
                                data-srcset="https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 400w,
https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 750w,
https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 960w,
https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ 1140w"
                                data-sizes="auto"
                                src="https://images.unsplash.com/photo-1517842645767-c639042777db?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=2000&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNzczfQ"
                                srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                alt="How to completely self-host Standard Notes (Updated 2021)">
                        </div>
                        <h3 class="post-title">How to completely self-host Standard Notes (Updated 2021)</h3>
                        <a class="u-permalink" href="/posts/how-to-completely-self-host-standard-notes/"
                            aria-label="How to completely self-host Standard Notes (Updated 2021)"></a>
                    </article>
                </div>
            </div>
        </div>
        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><svg class="icon">
                    <use xlink:href="#chevron-left"></use>
                </svg></button><button type="button" role="presentation" class="owl-next"><svg class="icon">
                    <use xlink:href="#chevron-right"></use>
                </svg></button></div>
        <div class="owl-dots disabled"></div>
    </div>
</section>