<div class="cover container">
    <div class="cover-content">

        <span class="logo-text">The Self-Hosting Blog</span>

        <div class="cover-description">Guides and ramblings about open-source projects that can be self-hosted without
            giving up privacy or locking you into a service you don't control. <br><br> Join us on the journey of data
            ownership and privacy. <br><br> Sign up to our monthly newsletter to get the latest in the self-hosting
            world!</div>


        <div class="cover-cta">
            <button id="signup-tracking" class="button members-subscribe gh-portal-close"
                data-portal="signup/free">Subscribe now</button>
        </div>

    </div>
</div>