<div class="site-content">
    <div class="content-area">
        <main class="site-main">
            <div class="post-feed container medium">
                {{ $mainPosts := (sort ( where site.RegularPages "Type" "post" ) "Date" "desc") }}
                {{ range (.Paginate $mainPosts).Pages }}
                    <article class="feed post tag-guides featured">
                        <div class="feed-calendar">
                            <div class="feed-calendar-month">
                                {{ .Date.Format "Jan" }}
                            </div>
                            <div class="feed-calendar-day">
                                {{ .Date.Format "01" }}
                            </div>
                        </div>
                        <h2 class="feed-title">{{ .Title }}</h2>
                        <div class="feed-right">
                            <svg class="icon feed-visibility feed-visibility-public">
                                <use xlink:href="#star"></use>
                            </svg>
                            <div class="feed-length">
                                {{ .ReadingTime }} min read
                            </div>
                        </div>
                        <svg class="icon feed-icon">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                        <a class="u-permalink" href="{{ .Permalink }}"
                            aria-label="{{ .Title }}"></a>
                    </article>
                {{ end }}
            </div>
        </main>
    </div>
</div>