<header class="site-header container">
    <div class="header-left">
        {{ if not .IsHome }}
            <a class="logo" href="{{.Site.Home.Permalink}}">
                <span class="logo-text">{{.Site.Title}}</span>
            </a>
        {{ end }}
    </div>
    <nav class="main-nav hidden-xs hidden-sm hidden-md">
        {{ range where site.RegularPages "Type" "page" }}
            <a class="menu-item" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
    </nav>

    <div class="burger hidden-lg hidden-xl">
        <div class="burger-bar"></div>
        <div class="burger-bar"></div>
    </div>

    <div class="mobile-menu hidden-lg hidden-xl">
        <div class="container">
            <nav class="mobile-nav">
                <a class="menu-item menu-item-home menu-item-current" href="https://theselfhostingblog.com/">Home</a>
                <a class="menu-item menu-item-about-us" href="https://theselfhostingblog.com/about-us/">About Us</a>
                <a class="menu-item menu-item-guides" href="https://theselfhostingblog.com/tag/guides/">Guides</a>
                <a class="menu-item menu-item-ramblings"
                    href="https://theselfhostingblog.com/tag/ramblings/">Ramblings</a>
                <a class="menu-item menu-item-newsletter"
                    href="https://theselfhostingblog.com/tag/newsletter/">Newsletter</a>
                <a class="menu-item menu-item-contact" href="https://theselfhostingblog.com/contact/">Contact</a>
                <a class="menu-item menu-item-rss" href="https://theselfhostingblog.com/rss/">RSS</a>

                <button class="button-text menu-item menu-item-cta members-subscribe gh-portal-close"
                    data-portal="signup/free">Subscribe</button>
            </nav>
        </div>
    </div>
    <div class="header-right hidden-xs hidden-sm hidden-md">
        <button class="button-text menu-item menu-item-cta members-subscribe gh-portal-close"
            data-portal="signup/free">Subscribe</button>
    </div>
</header>